---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
